body {
  max-width: 600px;
  margin: auto;
  color: goldenrod;
  font-family: monospace;
  background-color: black;
}

nav ul {
  padding-inline-start: 0px;
}

nav li {
  list-style: none;
  display: inline;
}

footer {
  margin-bottom: 100px;
}
