<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="author" contents="Patrick Kane">
  <title>Freebootin - $title$</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" type="image/png" size="16x16" href="/favicon-16x16.png">
</head>
<body>
<header>
  <h1>Freebootin.com</h1>
  <p>Page updated: $date$</p>
  <nav>
    <ul>
      <li><a href="https://freebootin.com">Home</a></li>
      <li><a href="https://github.com/freebootin">GitHub</a></li>
      <li>Twitter</li>
    </ul>
  </nav>
</header>
<hr>
$body$
<!-- add keyword cloud here -->
<hr>
<footer>Copywrite 2022 Patrick Kane</footer>
</body>
</html>
